/* Basic jQuery Slider essential styles */
#slider {
	margin: 0 auto;
	min-width: 900px;
	width: 90%;
	max-width: 1100px;
	height: 250px;
}

ul.bjqs {
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	display: none;
}
li.bjqs-slide {
	position: absolute;
	display: none;
}
ul.bjqs-controls {
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: 9999;
}
ul.bjqs-controls.v-centered li a {
	position: absolute;
}
ul.bjqs-controls.v-centered li.bjqs-next a {
	right: 0;
}
ul.bjqs-controls.v-centered li.bjqs-prev a {
	left: 0;
}
ol.bjqs-markers {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
}
ol.bjqs-markers.h-centered {
	text-align: center;
}
ol.bjqs-markers li {
	display: inline-block;
	width: 10px;
	height: 10px;
	overflow: hidden;
	margin: 3px;
	border-radius: 5px;
	background: #ccc;
}
/*Isso serve para dar compatibilidade no IE7. Mas o IE7 já tem problemas demais.
* + html ol.bjqs-markers li {
	display: inline;
}*/

ol.bjqs-markers li.active-marker, ol.bjqs-markers li:hover{
	background: #191919;
}
ol.bjqs-markers li a {
	display: block;
	width: 10px;
	height: 10px;
	text-decoration: none;
	color: rgba(0,0,0,0);
	font-size: 0;
}

p.bjqs-caption {
	display: block;
	width: 96%;
	margin: 0;
	padding: 2%;
	position: absolute;
	bottom: 0;
	background: rgba(0,0,0,0.75);
	color: #fff;
}