body {
	font-family: Arial, Helvetica, sans-serif;
	_text-align: center;
	margin: 0;
	background: url("../img/bg.gif");
}
#header {
	background-color: #fff;
	height: 200px;
	padding-bottom: -30px;
	margin-bottom: -30px;
	border-bottom: 5px solid #ccc;
}
.cabecalho {
	margin: 0 auto;
	min-width: 960px;
	width: 80%;
	max-width: 1200px;
	height: 300px;
	overflow: hidden;
}
/*.cabecalho img {
	display: block;
	width: 940px;
	border-style: none;
	margin: 30px auto;
}*/
#main {
	margin: 0 auto;
	min-width: 960px;
	width: 80%;
	max-width: 1200px;
	position: relative;
}

/*CSS do rodapé*/
#footer {
	height: 250px;
	background-color: #1c1919;
	padding: 50px 0 30px 0;
	margin-top: -50px;
	border-top: 5px solid #bbb;
}
#footer h4 {
	color: #666;
	font-size: 17px;
	font-weight: bold;
	margin: 25px 0 10px 0;
}
#footer p {
	color: #fff;
	font-size: 13px;
	line-height: 1.5em;
	margin: 0;
}
#footer .footer {
	display: block;
	margin: 0 auto;
	min-width: 900px;
	width: 75%;
	max-width: 1100px;
	position: relative;
}
#sitemap {
	width: 320px;
	text-align: left;
	position: absolute;
	top: 0;
	left: 0;
}
#sitemap ul.menu {
	width: 320px;
	margin: 0;
	padding: 0;
	list-style: none;
}
#sitemap ul.menu li{
	display: block;
	float: left;
	width: 160px;
}
#sitemap ul.submenu {
	margin: 0;
	padding-left: 20px;
	list-style: none;
}
#sitemap a {
	text-decoration: none;
	color: #fff;
	font-size: 13px;
}
#sitemap a:hover {
	text-decoration: underline;
}

#local {
	width: 540px;	
	position: absolute;
	top: 0;
	left: 350px;
}
#local a {
	text-decoration: none;
	color: #fff;
	font-size: 13px;
}
#local a:hover {
	text-decoration: underline;
}

#contato {
	width: 540px;
	position: absolute;
	top: 140px;
	left: 350px;
}

#creditos {
	width: 540px;
	position: absolute;
	top: 195px;
	left: 0;
}
#creditos a {
	color:#69c;
	text-decoration: none;
}
#creditos a:hover {
	text-decoration: underline;
}

/*CSS do menu*/
#menu {
	min-width: 960px;
	width: 100%;
	max-width: 1200px;
	position: absolute;
	top: -24px;
	left: 0;
	z-index: 1000;
}

#menu ul.menu {
	display: block;
	margin: 0;
	padding-left: 0;
	font-size: 13px;
	position: relative;
}
#menu ul.menu li {
	position: relative;
	list-style: none;
	display: inline-block;
	border-top: 1px solid #bbb;
	border-left: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	background-color: #eee;
}
/*Isso serve para dar compatibilidade no IE7. Mas o IE7 já tem problemas demais.
* + html #menu ul.menu li {
	display: inline;
}*/
#menu ul.menu li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 13px;
	padding-top: 5px;
	padding-right: 12px;
	padding-bottom: 5px;
	padding-left: 12px;
	line-height: 1em;
	z-index: 0;
	background-color: #eee;/*#f0f4f5;*/
}
#menu ul.menu li.current {
	border-bottom: 1px solid #fff;
}
#menu ul.menu li.current a {
	background-color: #fff;
}
#menu ul.menu li.last {
	border-right: 1px solid #bbb;
}

#menu ul.menu li a:hover {
	color: #36c;
}
#menu ul.menu li#en {
	position: absolute;
	right: 0;
	border-right: 1px solid #bbb;
}
#menu ul.menu li#pt {
	position: absolute;
	right: 43px;
}
#menu ul.menu li.idioma {
	position: relative;
	width: 110px;
}
#menu ul.menu li ul.submenu {
	padding:0;
	position: absolute;
	top: 22px;
	left: -1px;
	background-color: none;
	display: none;
	z-index: -1;
	border: 1px solid #bbb;
}
#menu ul.menu li ul.submenu li {
	border: none;
	display: block;
	white-space: nowrap;
}
#menu ul.menu li ul.submenu li a {
	display: block;
	background-color: #eee;
}
#menu ul.menu li.current ul.submenu li a {
	background-color: #fff;
}

/*CSS dos corpos das páginas (onde há o "conteúdo)*/
#conteudo {
	display: block;
	padding: 20px 25px 50px 25px;
	border: 1px solid #bbb;
	text-align: justify;
	background-color: #fff;
}
#conteudo h3 {
	font-size: 18px;
}

#conteudo p, #conteudo ol {
	font-size: 13px;
	line-height: 1.8em;
}

/*#equipamentos está na página "instalações", enquanto #arquivos está na página "downloads"*/
#equipamentos, #arquivos {
	border-collapse: collapse;
	margin: auto;
}
#equipamentos td, #arquivos td {
	font-size: 13px;
	line-height: 1.8em;
	padding: 5px 10px;
	vertical-align: top;
	border: 1px solid #000;
	text-align: left;
}
#equipamentos th, #arquivos th {
	font-size: 13px;
	line-height: 1.8em;
	text-align: center;
	padding: 0 10px;
	border: 1px solid #000;
}

/*válido para as páginas que são submenus de outras*/
#titulo a {
	text-decoration: none;
	color: #000;
}
#titulo a:hover {
	text-decoration: underline;
}